*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


        	

body{

    width: 100%;
    height: 100vh;
    

} 

.cards{

    padding-top:10vh;

}

.cartopo{

    background-color:#19202c;
    width:100%;
    max-width:450px;
    min-width:200px;
    margin:auto;
    padding:25px;
}

.texo{

    font-family:sans-serif;
    color: aliceblue;
    font-size: calc(60% + 1.1vmin);
    padding-bottom:5px;

}



.cartopo>h1{

    font-family:sans-serif;
    color: aliceblue;
    font-size:calc(60% + 2.6vmin);
    text-align:center;
    margin-top:10px;
    margin-bottom:40px;
}

.cardone>input{

    background-color:#2e3748;
    padding:12px;
    width:100%;
    max-width:500px;
    min-width:150px;
    border:none;
    outline:none;
    border-radius:2px;
    color: aliceblue;

}

.cardone>input:hover{

    box-shadow:0px 0px 0px 1px rgba(254, 254, 254, 0.478);

}

.cardtwo{

    margin-top:30px;
}

.cardtwo>input{

    background-color:#2e3748;
    padding:12px;
    width:100%;
    max-width:500px;
    min-width:150px;
    border:none;
    outline:none;
    border-radius:2px;
   color: aliceblue;
}

.cardtwo>input:hover{

    box-shadow:0px 0px 0px 1px rgba(254, 254, 254, 0.478);

}

.senha>a{

    text-decoration:none;
}

.senha>a>p{

    font-family:sans-serif;
    font-size:calc(60% + 0.5vmin);
    color:#5782d8;
    padding-top:20px;
    padding-bottom:20px;
}


.butao>button{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width:500px;
    min-width:150px;
    background-color:#8453fb;
    padding:12px;
    border:none;
    margin-top:70px;
    margin-bottom:20px;
    border-radius:2px;
}

.butao>button:hover{

    background-color: 	#8A2BE2;
}

.butao>button>h1{

    font-family:sans-serif;
    font-size:calc(60% + 1vmin);
    color:#ffffff;

}


@media screen and (max-width: 600px) {
    .cards{

        padding-top:30%;


    }

    .cartopo{

        width:90%;
    }


  }
